body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	background: #111111;
}

html {
	touch-action: pan-x pan-y pinch-zoom;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input[type=text], input[type=password] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-bottom: solid .2em #444444;
  border-radius: 0;
  padding: .2em;
  background-color: #222222;
  color: white;
  font-family: Verdana, sans-serif;
  font-size: inherit;
  font-weight: normal;
}

button, input[type=button] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #333333;
  padding: .3em;
  color: white;
  font-family: Verdana, sans-serif;
  font-size: inherit;
  font-weight: normal;
}

button:active, input[type=button]:active {
  background-color: #555555;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #333333;
  padding: .3em;
  color: white;
  font-family: Verdana, sans-serif;
  font-size: inherit;
  font-weight: normal;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #222222;
  border-bottom: solid #555555 .2em;
  padding: .3em;
  color: white;
  font-family: Verdana, sans-serif;
  font-size: inherit;
  font-weight: normal;
}

fieldset {
  border: solid #555555 .2em;
}

fieldset legend {
  padding: 0.2em;
}

a {
 color:#40a9e6;
 text-decoration:none
}

p {
  text-align: left;
  margin: 0;
  padding: 0.4em;
  border-left: solid #444444 0.3em;
  background-color: #222222;
  font-size: 0.8em;
}
