.settingsContainer {
  margin: 3em 2em;
  color: #eeeeee;
  font-family: Verdana, sans-serif;
}

.settingsContainer > button {
  width: 100%;
  font-size: 1.5em;
  max-width: 500px;
}

.settingsContainer fieldset {
  margin: 1em auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 0.8em;
  font-size: 1.5em;
  max-width: 500px;
}

.settingsContainer label {
  text-align: left;
}

.account {
  border-left: solid .2em #777777;
  padding: .2em;
}

.selectedAccount {
  background-color: #3333cc;
  border-color: #7777ff;
}
